:root {
  --font-color-1: #ffffff;
  --font-color-2: #000000;
  --font-color-3: #4d4d4d;
  --font-color-4: #355593;
  --background-color-1: #f19e04;
  --background-color-2: #355593;
  --background-color-3: #d9e9f9;
  --background-color-4: #f7f7f7;
  --background-color-5:  #ffffff;
  --background-color-6: #8096bf;
  --border-color-1: #ffffff;
  --head-color: #355593;
  
  
}
