#footer {
  width: 100%;
  height: auto;
  background-color: var(--background-color-2);
}

.footer_info {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 10px;
  margin-top:50px;

}

.footer_index p{
  font-family:'Poppins', Times New Roman, Times;
  color: var(--font-color-1);
  font-size:16px;
  

}

.footer_info .link_info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family:'Poppins', Times New Roman, Times;
  margin: 5px;

}

.footer_info .link_info h1{
  color: var(--font-color-1);

}
.footer_info .link_info li{
  list-style: none;
}

.footer_info .link_info a{
  text-decoration: none;
  color: var(--font-color-1);
}

@media (max-width:576px){

#footer {
  height: 80%;
  margin-top:50rem;
  padding: 0;
}

.footer_info{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.link_info{
 gap: 3rem;
 padding-top: 2rem;
 line-height: 2.5rem;
}


}