*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
:root{
    font-family:'Poppins', Times New Roman, Times;
}

/* Nav Hamburger */
.hamburger{
  display: none;
  cursor:pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hamburger_navs{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  z-index: 9999;
}

.hamburger_navs li{
  list-style: none;  text-align: center;
}

.hamburger_navs a{
   color: white;
   text-decoration: none
}

/*Nav Hamburger End*/

/* Nav Bar Start */

.container{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  padding: 0 10px;
  z-index: 9999;
  gap:400px;
}

#navbar.scrolled {
  background-color: #355592 ;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  position: relative;
  padding: 6px 8px;
  text-decoration: none;
  list-style: none;
}

#navbar li a {
  font-weight:600;
  padding: 3px 7px;
  cursor: pointer;
  color: var(--font-color-1);
  font-family:'Poppins', Times New Roman, Times;
  text-decoration: none;
}

#navbar .nav-btn {
  background-color: var(--background-color-1);
  text-decoration: none;
  border-radius: 3px;
}

@media (max-width:576px){

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  .nav-item{
    margin:16px 0;
  }

  .hamburger_navs.active{
    display:block;

  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  #navbar {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:0;
    width: 100%;
    padding: 0 10px;
    z-index: 9999;
    gap:40px;
}
  

 .navs{
  display: none;
 }

}
